<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- Opcional fullscreen dado que no hay header ni footer -->
    <!-- the content will scroll behind the headers
    and footers. This effect can easily be seen by setting the toolbar
    to transparent. Sustraído de la documentación oficial de Ionic -->
  <div id="all-containers">
    <!-- Contenedor padre de los demás -->
    <div id="main-container">
      <!-- Breakpoint en 960 + img background.jpg -->
      <div id="container">
        <!-- Encabezado y formulario -->
        <div id="img-title-contaner">
          <!-- Encabezado -->
          <img class="img-primary-container" src="../../assets/imgs/logo.jpg">
          <p>Prueba técnica</p>
        </div>
        <div id="form-container" padding>
          <form [formGroup]="loginForm">
            <ion-item class="item-content">
              <ion-icon name="person-outline"></ion-icon>
              <!-- Para conocer el estado del formulario, por cada input, añadir el control de cada uno definido en el ts
              Para ello, es necesario añadir al módulo "ReactiveFormsModule" e importarlo-->
              <ion-input type="email" placeholder="Email" name="email" formControlName="email"></ion-input>
            </ion-item>
            <div *ngIf="loginForm.get('email').errors && loginForm.get('email').errors.required && buttonLoginBoolean" class="errors-form">
              <!-- Requerido -->
              <p>Este campo es requerido</p>
            </div>
            <div *ngIf="loginForm.get('email').errors && loginForm.get('email').errors.pattern && buttonLoginBoolean" class="errors-form">
              <!-- No se cumple con un email -->
              <p>El formato del campo es incorrecto</p>
            </div>
            <ion-item class="item-content">
              <ion-icon class="pass-icon" *ngIf="lockPassword" name="lock-closed-outline" (click)="seePass(true)"></ion-icon>
              <ion-icon class="pass-icon" *ngIf="!lockPassword" name="lock-open-outline" (click)="seePass(false)"></ion-icon>
              <ion-input [type]="typePassword" placeholder="Contraseña" name="password" formControlName="password" (onchange)="changeStatusForm($event)"></ion-input>
            </ion-item>
            <div *ngIf="loginForm.get('password').errors && loginForm.get('password').errors.required && buttonLoginBoolean" class="errors-form">
              <!-- Requerido -->
              <p>La longitud de la contraseña es incorrecta</p>
            </div>
            <div *ngIf="loginForm.get('password').errors && loginForm.get('password').errors.minlength && buttonLoginBoolean" class="errors-form">
              <!-- No se cumple con un email -->
              <p>Se requieren al menos 5 caracteres</p>
            </div>
            <div id="rememberMe">
              <p>Recordar</p>
              <ion-toggle name="reminder" formControlName="reminder" color="primary"></ion-toggle>
            </div>
            <div id="submitForm">
              <ion-button class="ion-button-login" (click)="buttonAction(true)">Acceder</ion-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</ion-content>
