#all-containers {
  background-color: grey;
  #main-container {
  max-width: 960px;
  width: auto;
  height: 100vh;
  margin: 0 auto; //centro
  background-image: url("../../assets/imgs/background.jpg");
  #container {
      max-width: 400px;
      max-height: 500px;
      margin: 0 auto; // centro
      text-align: center;
      position: absolute; // Absolute para poder desplazar el contenedor al centro de la pantalla
      top: 20%; // Por proporciones con la altura del contenedor
      left: 0;
      right: 0;
      #img-title-contaner {
        padding: 32px 0;
        background-color: white;
        .img-primary-container {
          max-width: 150px;
          max-height: 200px;
          width: 100%;
          height: 100%;
        }
        p {
          padding-top: 8px;
          font-size: larger;
        }
      }
      #form-container {
        padding: 0 16px 16px 16px;
        background-color: white;
        .item-content {
          background-color: white;
          .pass-icon {
            cursor: pointer;
          }
          ion-icon {
            padding-right: 18px;
            opacity: 50%;
          }
          ion-icon:hover {
            padding-right: 18px;
            color: #009FDA;
          }
        }
        #rememberMe {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 8px 0 0 16px;
          ion-toggle {
            --background: grey;
            --handle-background: rgb(164, 164, 164);
            --background-checked: #009FDA;
            --handle-background-checked: white;
          }
        }
        ion-list {
          background-color: white;
        }
        ion-item {
          color: grey;
        }

        #submitForm {
          margin-top: 8px;
          ion-button {
            width: 180px;
            border: 1.5px solid #009FDA;
            border-radius: 40px;
            --border-radius: 40px;
            --background: white;
            --color: black;
          }
          ion-button:hover {
            --color: white;
            --background: #009FDA;
          }
        }

        .errors-form {
          display: flex;
          p{
            color: red;
            font-weight: bold;
            font-size: 12px;
          }
        }
      }
    }
  } 
} 

@media (max-width: 480px) {
  #all-containers {
    #main-container {
      #container {
        margin: 0 16px;
        #img-title-contaner {
          background: transparent;
          p {
            display: none;
          }
        }
        #form-container {
          padding: 0;
          .item-content,.errors-form {
            padding: 8px;
          }
          #rememberMe {
            margin: 8px 16px 0 16px;
          }
          #submitForm {
            margin-top: 8px;
            background-color:#009FDA;
            ion-button {
              width: 100%;
              color: white;
              --background: transparent;
              --color: black;
              --border-radius: 0px;
              border-radius: none;
              border: none;
              box-shadow: none !important;
              text-transform: capitalize;
            }
            ion-button:hover {
              --color: #009FDA;
              --background: ;
            }
          }
  
        }
      }
    }
  }
}
// @media screen and (max-device-width: 480px) {
// }